<h1>Perfil</h1>

email:
{{user.email}}
<br />
isAdmin:
{{user.isAdmin}}
<br />
<a href='/api/session/administracion'>Ver datos super secretos<a>
<a href="/products">Volver a los Productos</a>
<br />
<a href='/api/session/logout'>Salir!</a>