<h1>Perfil</h1>

Nombre:
{{user.firstName}} {{user.lastName}}
<br />
Edad:
{{user.age}}
<br />
<a href='/api/session/administracion'>Ver datos super secretos<a>
<a href="/products">Volver a los Productos</a>
<br />
<a href='/api/session/logout'>Salir!</a>