<h1>REGISTER</h1>
<form action='/recoverEmail/recoverPass' method='POST'>
  <input value="{{email}}" type='hidden' name='email' placeholder='email' />
  <input type='text' name='password' placeholder='password' />
  <input value="{{code }}"type='hidden' name='code' placeholder='code' />
  <input type='submit' value='CambiarContraseña!' />
</form>
